.navigation-footer {
  grid-area: navigation;

  &__list {
    display: flex;
    justify-content: space-between;

    min-width: 306px;

    @media only screen and (max-width: 630px) {
      min-width: 250px;
    }

    @media only screen and (max-width: 540px) {
      min-width: 210px;
    }

    @media only screen and (max-width: 500px) {
      flex-direction: column;
      min-width: min-content;
    }
  }

  &__item {
    @media only screen and (max-width: 500px) {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    padding: 5px;

    color: $color-grey-light-2;
  }
}
