.decorations-bottom-aboutus {
  position: relative;
  justify-self: flex-end;

  &__list {
    writing-mode: vertical-lr;
  }

  &__item {
    user-select: none;
    cursor: default;
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;

    @media only screen and (max-width: 768px) {
      font-size: 48px;
    }

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $color-blue;

    &:not(:last-child) {
      margin-right: 17px;
    }

    &:nth-child(2n) {
      transform: rotate(180deg);
    }

    &:nth-child(2) {
      opacity: 0.5;
    }

    &:nth-child(3) {
      opacity: 0.2;
    }

    &:nth-child(4) {
      opacity: 0.1;

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    &:nth-child(5) {
      opacity: 0.05;

      @media only screen and (max-width: 1280px) {
        margin: 0;
      }

      @media only screen and (max-width: 920px) {
        display: none;
      }
    }

    &:nth-child(6) {
      opacity: 0.03;
    }

    &:nth-child(7) {
      opacity: 0.02;
    }

    &:nth-child(6),
    &:nth-child(7) {
      @media only screen and (max-width: 1280px) {
        display: none;
      }
    }

    @include hover((opacity), (0.7));

    span {
      font-family: sans-serif;
    }
  }
}
