/* stylelint-disable font-family-no-missing-generic-family-keyword */
html {
  font-family: Inter;
  font-weight: 400;

  font-size: 62.5%;

  @media only screen and (max-width: 1280px) {
    font-size: 50%;
  }
}

body {
  font-family: inherit;
  font-weight: inherit;
  color: $color-white;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

.text-1 {
  @extend %text-1;
}

.text-2 {
  @extend %text-2;
}

.custom-text {
  @extend %text-custom;
}

.section-title-centred {
  text-align: center;

  @media only screen and (max-width: 768px) {
    font-size: 21px;
  }

  span {
    font-family: Quantum;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 122%;
    color: $color-blue;

    @media only screen and (max-width: 768px) {
      font-size: 21px;
    }
  }
}

.section-title-custom {
  @media only screen and (max-width: 768px) {
    font-size: 21px;
  }

  span {
    font-family: Quantum;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 122%;
    color: $color-blue;

    @media only screen and (max-width: 768px) {
      font-size: 21px;
    }
  }
}

.section-title {
  @media only screen and (max-width: 768px) {
    font-size: 21px;
  }

  span {
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 122%;
    color: $color-blue;

    @media only screen and (max-width: 768px) {
      font-size: 21px;
    }
  }
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 55px;
  padding-top: 12px;
  padding-bottom: 14px;
  color: $color-white;
  background-color: $color-blue;
  border: none;
  border-radius: 4px;
  outline: none;

  &:disabled {
    cursor: not-allowed;
    background-color: #191536;
    color: $color-grey-dark;
  }

  &:not(:disabled) {
    @include hover(background-color, $color-white);
    @include hover(color, $color-blue);
  }

  &:not(:disabled):active {
    transform: translateY(3px);
  }
}
