/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable no-descending-specificity */
@import "utils";
@import "fonts";
@import "typography";
@import "reset";

body {
  background: $c-gray;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  overflow: hidden;
}

._container {
  max-width: 1452px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;

  @media only screen and (max-width: 1280px) {
    max-width: 1060px;
  }

  @media only screen and (max-width: 430px) {
    max-width: 100%;
    padding: 0 20px;
  }
}

///////////////////////////////////////////
/// HEADER

.header {
  padding-top: 4.7rem;
  padding-bottom: 10.7rem;
  background-image: $bg-gradient;

  @media only screen and (max-width: 768px) {
    padding-bottom: 62px;
  }

  @media only screen and (max-width: 430px) {
    padding-top: 18px;
  }

  &__top {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 21.6rem;

      @media only screen and (max-width: 1280px) {
        margin-bottom: 10.1rem;
      }

      @media only screen and (max-width: 768px) {
        margin-bottom: 55px;
      }

      @media only screen and (max-width: 430px) {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: 430px) {
      height: 30px;
    }
  }

  &__logo-image {
    width: 58px;
    height: 12px;
  }

  &__functionality {
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    margin-right: auto;
  }

  &__lang-switch {
    position: relative;
    font-family: "Inter";
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    color: $color-blue;
    margin-left: 3.5rem;
    transform: translateY(-3px);

    width: 34px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      @extend %triangle;
    }

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__nav {
    position: relative;
    display: flex;
    align-items: flex-start;

    @media only screen and (max-width: 768px) {
      visibility: hidden;
      
      &::after,
      &::before {
        visibility: visible;
        content: "";
        position: absolute;
      }

      &::after {
        top: 0;
        right: 0;
        width: 29px;
        height: 13px;
        border-top: 1px solid $color-white;
        border-bottom: 1px solid $color-white;
      }

      &::before {
        background-color: $color-white;
        width: 20px;
        height: 1px;
        top: 6px;
        right: 0;
        transform: translateX(-15.5px);
        z-index: 2;
      }
    }

    @media only screen and (max-width: 540px) {
      width: 49px;
    }
  }

  &__list {
    display: flex;
    min-width: 318px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;

    &:not(:last-child) {
      margin-bottom: 21.2rem;

      @media only screen and (max-width: 1280px) {
        margin-bottom: 8.4rem;
      }

      @media only screen and (max-width: 768px) {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: 430px) {
      align-items: center;
    }

    @media only screen and (max-width: 430px) {
      padding-left: 0;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    & > * {
      margin-left: 8.6rem;
      
      @media only screen and (max-width: 1080px) {
        margin-left: 0;
      }
    }
  }

  &__background-image {
    position: absolute;
    right: 0;
    top: 0;

    @media only screen and (max-width: 1280px) {
      width: 811px;
    }

    @media only screen and (max-width: 1080px) {
      width: 494px;
      top: 50%;
      transform: translateY(-50%);
    }

    @media only screen and (max-width: 700px) {
      opacity: 0.3;
    }

    @media only screen and (max-width: 430px) {
      position: relative;
      top: 0;
      left: 0;
      transform: translateY(0);
      opacity: 1;
      width: 320px;
      height: 172px;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 5.4rem;
    line-height: 129%;
    margin-bottom: 3.5rem;
    margin-left: 0;

    @media only screen and (max-width: 1080px) {
      font-size: 3.25rem;
    }

    @media only screen and (max-width: 768px) {
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: 430px) {
      font-size: 26px;
    }
  }

  &__span {
    font-weight: 400;
    font-size: 5.4rem;
    line-height: 129%;
    color: $color-blue;

    @media only screen and (max-width: 1080px) {
      font-size: 3.25rem;
    }

    @media only screen and (max-width: 430px) {
      font-size: 26px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 2rem;
    line-height: 150%;
    max-width: 43.9rem;
    color: $color-grey-light;
    margin-bottom: 3rem;

    @media only screen and (max-width: 1080px) {
      font-size: 2rem;
    }

    @media only screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__cost {
    font-weight: 500;
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 4.5rem;

    @media only screen and (max-width: 768px) {
      margin-bottom: 24px;
    }

    @media only screen and (max-width: 430px) {
      font-size: 18px;
      align-self: center;
    }
  }

  &__play-button {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 430px) {
      width: 221px;
      align-self: flex-start;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__faq-and-help {
    display: flex;

    & > * {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 150%;

      &:not(:last-child) {
        margin-right: 39px;
      }
    }
  }

  &__more {
    position: relative;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;

    color: $color-blue;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -13px;
      
      @extend %triangle;
      transform: rotate(-180deg) translateX(50%);
    }
  }
  
  &__slider {
    display: flex;

    & > * {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 150%;
    }
  }
}

.slider-header {
  position: relative;

  &__previous {
    transform: translateX(-10.3rem);
  }

  &__border-grey {
    position: absolute;
    width: 20.7rem;
    height: 1px;
    background-color: #212121;
  
    bottom: -10px;
    left: -10.3rem;
  }

  &__border-blue {
    position: absolute;
    width: 6.9rem;
    height: 1px;
    background-color: $color-blue;

    bottom: -10px;
    left: -10.3rem;
  }
}

.play-button {
  cursor: pointer;

  &__text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    margin-left: -133px;
  }
}

.list-header {
  &__item {
    margin-right: 3.5rem;
    display: flex;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
  }

  &__link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
  }
}
////////////////////////////////////////////
