/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable no-descending-specificity */
@import "utils";
@import "fonts";
@import "typography";
@import "reset";

body {
  background: $c-gray;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  overflow: hidden;
}

._container {
  max-width: 1452px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 15px;

  @media only screen and (max-width: 1280px) {
    max-width: 1060px;
  }

  @media only screen and (max-width: 430px) {
    max-width: 100%;
    padding: 0 20px;
  }
}

///////////////////////////////////////////
/// HEADER

.header {
  padding-top: 4.7rem;
  padding-bottom: 10.7rem;
  background-image: $bg-gradient;

  @media only screen and (max-width: 768px) {
    padding-bottom: 62px;
  }

  @media only screen and (max-width: 430px) {
    padding-top: 18px;
  }

  &__top {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 21.6rem;

      @media only screen and (max-width: 1280px) {
        margin-bottom: 10.1rem;
      }

      @media only screen and (max-width: 768px) {
        margin-bottom: 55px;
      }

      @media only screen and (max-width: 430px) {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: 430px) {
      height: 30px;
    }
  }

  &__functionality {
    height: 48px;
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-right: auto;

    @media only screen and (max-width: 569px) {
      height: 56px;
    }

    @media only screen and (max-width: 430px) {
      height: 30px;
    }
  }

  &__lang-switch {
    position: relative;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $color-blue;
    margin-left: 3.5rem;
    transform: translateY(-3px);

    height: 16px;
    width: 34px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      @extend %triangle;
      transition: all 0.3s;

      z-index: 1;
    }

    &--active::after {
      transform: translateY(-2px) rotate(360deg);
    }

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__nav {
    position: relative;
    display: flex;
    align-items: flex-start;

    @media only screen and (max-width: 768px) {
      visibility: hidden;
      width: 38px;
      cursor: pointer;

      &::after,
      &::before {
        visibility: visible;
        content: "";
        position: absolute;
      }

      &::after {
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 29px;
        height: 13px;
        border-top: 2px solid $color-white;
        border-bottom: 2px solid $color-white;

        transition: transform 0.5s, border-top 0.3s;
      }

      &::before {
        background-color: $color-white;
        width: 20px;
        height: 2px;
        top: 50%;
        right: 0;
        transform: translateX(-15.5px) translateY(-50%);
        z-index: 2;
        transition: transform 0.3s;
      }

      z-index: 20000;

      &--active {
        position: fixed;
        top: 34px;
        right: 15px;

        @media only screen and (max-width: 430px) {
          top: 18px;
          transform: translateY(-10px);
        }
      }

      &--active::after {
        transform: translateY(-60%) rotate(405deg);
        border-top: none;
      }

      &--active::before {
        width: 29px;
        transform: translateY(-50%) rotate(-45deg) translateX(-4px);
      }

      &--language-menu-active {
        position: fixed;
        top: 33px;
        left: 33px;

        @media only screen and (max-width: 500px) {
          top: 11px;
          left: 5px;
        }

        &::after {
          width: 14.5px;
          transform: translateY(-50%) rotate(45deg);
          border-top: none;
        }

        &::before {
          width: 14.5px;
          transform: translateY(-7px) translateX(-4px) rotate(-45deg);
        }
      }
    }
  }

  &__list {
    display: flex;
    min-width: 318px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;

    &:not(:last-child) {
      margin-bottom: 21.2rem;

      @media only screen and (max-width: 1280px) {
        margin-bottom: 8.4rem;
      }

      @media only screen and (max-width: 768px) {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: 430px) {
      align-items: center;
    }

    @media only screen and (max-width: 430px) {
      padding-left: 0;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;

    & > * {
      margin-left: 8.6rem;
      
      @media only screen and (max-width: 1080px) {
        margin-left: 0;
      }
    }
  }

  &__background-image {
    user-select: none;
    position: absolute;
    right: 0;
    top: 0;

    @media only screen and (max-width: 1280px) {
      width: 811px;
    }

    @media only screen and (max-width: 1080px) {
      width: 494px;
    }

    @media only screen and (max-width: 700px) {
      opacity: 0.3;
    }

    @media only screen and (max-width: 430px) {
      position: relative;
      top: 0;
      left: 0;
      transform: translateY(0);
      opacity: 1;
      width: 320px;
      height: 172px;
    }

    &--2 {
      position: absolute;
      right: 0;
      top: 0;
      display: none;
    }

    &--3 {
      position: absolute;
      right: 0;
      top: 0;
      display: none;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 5.4rem;
    line-height: 129%;
    margin-bottom: 3.5rem;
    margin-left: 0;

    @media only screen and (max-width: 1080px) {
      font-size: 3.25rem;
    }

    @media only screen and (max-width: 768px) {
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: 430px) {
      font-size: 26px;
    }
  }

  &__span {
    font-weight: 400;
    font-size: 5.4rem;
    line-height: 129%;
    color: $color-blue;

    @media only screen and (max-width: 1080px) {
      font-size: 3.25rem;
    }

    @media only screen and (max-width: 430px) {
      font-size: 26px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 2rem;
    line-height: 150%;
    max-width: 43.9rem;
    margin-bottom: 3rem;

    @media only screen and (max-width: 1080px) {
      font-size: 2rem;
    }

    @media only screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  &__cost {
    font-weight: 500;
    font-size: 2rem;
    line-height: 120%;
    margin-bottom: 4.5rem;

    @media only screen and (max-width: 768px) {
      margin-bottom: 24px;
    }

    @media only screen and (max-width: 430px) {
      font-size: 18px;
      align-self: center;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &__faq-and-help {
    display: flex;

    & > * {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 150%;

      &:not(:last-child) {
        margin-right: 39px;
      }
    }
  }

  &__more {
    cursor: pointer;
    position: relative;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;

    color: $color-blue;

    &::after {
      transition: all 0.5s;
      content: "";
      position: absolute;
      left: 50%;
      bottom: -13px;
      
      @extend %triangle;
      transform: rotate(-180deg) translateX(50%);
    }

    &:hover::after {
      background-color: $color-white;
      transform: rotate(-180deg) translateX(50%) translateY(-5px);
    }

    @include hover((color, transform), ($color-white, scale(1.1)));
  }
}

.switch-language {
  z-index: 100;

  &__selected {
    position: relative;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    padding-right: 15px;

    @include hover((color), ($color-white));
  }

  &__avalibe-list {
    transition: all 0.3s, transform 0.3s ease-in-out;
    user-select: none;
    background-color: $lang-switch-bg-color;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 10px;
    border: 1px solid;
    border-top: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-160px);
    max-width: fit-content;
  }

  &__avalibe-list--active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__avalibe-item {
    user-select: none;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:first-child {
      margin-top: 5px;
    }

    @include hover((color), ($color-white));
  }
}

.slider {
  position: relative;
  display: flex;

  & > * {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
  }

  &__previous {
    user-select: none;
    transition: all 0.3s;
    color: $color-grey-dark-1;
    cursor: default;
    transform: translateX(-10.3rem);
  }

  &__next {
    user-select: none;
    transition: all 0.3s;
    cursor: pointer;
  }

  &__border-grey {
    position: absolute;
    width: 20.7rem;
    height: 1px;
    background-color: #212121;
  
    bottom: -10px;
    left: -10.3rem;
  }

  &__border-blue {
    transition: width 0.6s;
    position: absolute;
    width: 6.9rem;
    height: 1px;
    background-color: $color-blue;

    bottom: -10px;
    left: -10.3rem;
  }
}

.play-button {
  cursor: pointer;

  align-self: flex-start;

  background-color: transparent;
  border: none;
  color: #fff;

  position: relative;

  display: flex;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    top: 27px;
    left: 26px;
    z-index: 10000;
    width: 20px;
    height: 17px;
    @extend %triangle;
    transform: rotate(90deg);
    background-color: $color-white;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover {
    &::after {
      opacity: 1;
    }

    .play-button__text {
      color: $color-blue;
    }
  }

  @media only screen and (max-width: 430px) {
    width: 221px;
    align-self: flex-start;
  }

  &__text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;
    margin-left: -133px;

    transition: color 0.3s;
  }
}

.list-header {
  &__item {
    margin-right: 3.5rem;
    display: flex;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.5rem;
  }

  &__link {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 130%;

    color: $color-white;
  }
}
////////////////////////////////////////////

//////////////////////////////////////////
/// PAGE

.page {
  display: flex;
  flex-direction: column;
}

/////////////////////////////////////////

///////////////////////////////////////////
/// ADVENTAGES

.adventages {
  padding: 15.8rem 0;
  background-color: $color-black;

  @media only screen and (max-width: 1280px) {
    padding: 12.5rem 0;
  }

  @media only screen and (max-width: 768px) {
    padding: 8.75rem 0;
  }

  @media only screen and (max-width: 430px) {
    padding: 6.25rem 0;
  }

  &__title {
    margin-bottom: 1.6rem;

    @media only screen and (max-width: 430px) {
      text-align: left;
    }
  }

  &__subtitle {
    text-align: center;
    color: $color-blue;
    margin-bottom: 7rem;

    @media only screen and (max-width: 768px) {
      font-size: 12px;
    }

    @media only screen and (max-width: 430px) {
      margin-bottom: 3.75rem;
    }

    @media only screen and (max-width: 430px) {
      text-align: left;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 40px 20px;

    @media only screen and (max-width: 430px) {
      justify-content: flex-start;
      gap: 20px 20px;
    }
  }

  &__adventage {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 430px) {
      align-items: flex-start;
    }
  }
}

.adventage {
  @include hover((transform), (scale(1.1)));
  &__icon {
    margin-bottom: 21px;

    @media only screen and (max-width: 430px) {
      display: none;
    }
  }
  
  &__title {
    margin-bottom: 20px;

    @media only screen and (max-width: 768px) {
      font-size: 18px;
    }

    @media only screen and (max-width: 430px) {
      font-size: 16px;
    }
  }
  
  &__text {
    max-width: 348px;
    text-align: center;

    @media only screen and (max-width: 1280px) {
      max-width: 250px;
      font-size: 2rem;
    }

    @media only screen and (max-width: 768px) {
      max-width: 340px;
    }

    @media only screen and (max-width: 430px) {
      max-width: 280px;
      max-height: 52px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: start;

      display: -webkit-box;
      -ms-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      -ms-line-clamp: 2;
      -moz-line-clamp: 2;
      -webkit-line-clamp: 2;

      &::after {
        content: "...";
        display: inline;
      }
    }
  }
}

////////////////////////////////////////////

////////////////////////////////////////////
/// ABOUT US SECTION

.aboutus {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    146.86deg, 
    #191536 -0.5%, 
    $color-black-1 99.5%
  );

  padding-top: 147px;
  padding-bottom: 157px;

  @media only screen and (max-width: 1280px) {
    padding-top: 100px;
    padding-bottom: 136px;
  }

  @media only screen and (max-width: 768px) {
    padding-top: 70px;
    padding-bottom: 51px;
  }

  &__container {
    width: 100%;

    @media only screen and (max-width: 1000px) {
      padding-right: 0;
    }

    @media only screen and (max-width: 600px) {
      padding-left: 0;
    }
  }

  &__top {
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: 768px) {
      justify-content: center;
    }

    margin-bottom: 175px;

    @media only screen and (max-width: 1280px) {
      margin-bottom: 183px;
    }

    @media only screen and (max-width: 768px) {
      margin-bottom: 84px;
    }

    @media only screen and (max-width: 600px) {
      flex-direction: column-reverse;
      align-items: center;
      display: none;
    }

    width: 100%;
  }

  &__bottom {
    display: flex;
  }
}

///////////////////
/// top of about us

.top-aboutus {
  &__video-box {
    display: grid;
    grid-column-gap: 23px;
    grid-row-gap: 12px;

    grid-template-areas: "count video"
      ". slider";
    margin-right: 117px;

    @media only screen and (max-width: 1280px) {
      margin-right: 109px;
    }

    @media only screen and (max-width: 800px) {
      margin-right: 50px;
    }

    @media only screen and (max-width: 1000px) {
      margin: 0;
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 20px;

      grid-row-gap: 15px;
    }

    @media only screen and (max-width: 600px) {
      margin: 0;
    }

    picture {
      max-width: 622px;
      min-width: 430px;
      height: 290px;

      @media only screen and (max-width: 768px) {
        min-width: 340px;
      }
    }
  }

  &__videos {
    max-width: 622px;
    min-width: 430px;
    height: 290px;

    @media only screen and (max-width: 768px) {
      min-width: 340px;
    }
  }

  &__series-count {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 121%;
    color: $color-blue;

    grid-area: count;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  
  &__video {
    transition: all 0.5s;

    grid-area: video;
    width: 100%;
    height: 100%;

    @media only screen and (max-width: 1280px) {
      width: 430px;
      height: 290px;
    }

    @media only screen and (max-width: 1000px) {
      width: 100%;
      height: 100%;
    }

    @media only screen and (max-width: 1000px) {
      width: 340px;
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    &--2 {
      display: none;
      transform: translateY(-290px);
    }

    &--3 {
      display: none;
      transform: translateY(-580px);
    }
  }
  
  &__slider {
    grid-area: slider;
  }

  &__content-box {
    position: relative;
    right: 0;

    @media only screen and (max-width: 1000px) {
      margin-right: 10px;
    }

    @media only screen and (max-width: 800px) {
      margin-right: 34px;
    }

    @media only screen and (max-width: 600px) {
      padding-left: 20px;
    }

    @media only screen and (max-width: 430px) {
      padding: 0 20px;
      margin: 0;
    }
  }

  &__text {
    max-width: 435px;
    margin-bottom: 42px;

    @media only screen and (max-width: 768px) {
      font-size: 16px;
      max-width: 340px;
    }

    @media only screen and (max-width: 600px) {
      margin-bottom: 24px;
    }
  }
  
  &__title {
    margin-bottom: 32px;

    @media only screen and (max-width: 600px) {
      margin-bottom: 20px;
    }
  }

  &__play-button {
    margin-bottom: 20px;
  }

  &__dotted-slider {
    display: none;

    @media only screen and (max-width: 768px) {
      display: flex;
    }
  }
}

.top-aboutus--600 {
  display: none;

  @media only screen and (max-width: 600px) {
    display: flex;
  }

  padding: 0 20px;

  h2 {
    @media only screen and (max-width: 380px) {
      align-self: flex-start;
    }
  }

  p {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.top-aboutus-dotted-slider {
  &__dot {
    border-radius: 50%;
    height: 4px;
    width: 4px;

    &:not(:last-child) {
      margin-right: 6px;
    }

    background-color: $color-grey-light-1;

    &--active {
      background-color: $color-grey-dark-1;
    }
  }
}

.top-aboutus-slider {
  position: relative;
  display: flex;

  & > * {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
  }

  &__previous {
    user-select: none;
    transition: all 0.3s;
    color: $color-grey-dark-1;
    cursor: pointer;
  }

  &__next {
    user-select: none;
    transition: all 0.3s;
    cursor: pointer;
    transform: translateX(10.3rem);
  }

  &__border-grey {
    position: absolute;
    width: 20.7rem;
    height: 1px;
    background-color: #212121;
  
    bottom: -10px;
  }

  &__border-blue {
    transition: width 0.6s;
    position: absolute;
    width: 6.9rem;
    height: 1px;
    background-color: $color-blue;

    bottom: -10px;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}
//////////////////////

//////////////////////
/// bottom of about us

.bottom-aboutus {
  display: flex;
  justify-content: flex-end;

  @media only screen and (max-width: 1280px) {
    justify-content: flex-start;
  }

  @media only screen and (max-width: 600px) {
    justify-content: center;
  }

  &__content {
    margin-right: 101px;

    @media only screen and (max-width: 1280px) {
      margin-right: 112px;
    }

    @media only screen and (max-width: 830px) {
      margin-right: 56px;
    }

    @media only screen and (max-width: 768px) {
      margin-left: 14px;
      margin-right: 10px;
    }

    @media only screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 23px;
      margin: 0;
    }

    @media only screen and (max-width: 430px) {
      align-items: flex-start;
    }
  }

  &__sub-title {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 121%;
    color: $color-blue;
    margin-bottom: 15px;

    @media only screen and (max-width: 600px) {
      margin-bottom: 11px;
    }
  }

  &__title {
    margin-bottom: 32px;

    @media only screen and (max-width: 600px) {
      margin-bottom: 22px;
    }
  }

  &__text {
    max-width: 532px;

    @media only screen and (max-width: 1280px) {
      max-width: 429px;
      font-size: 2rem;
    }

    @media only screen and (max-width: 1280px) {
      max-width: 460px;
    }
  }

  &__decorations {
    margin-right: 23px;
    
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}

.decorations-bottom-aboutus {
  position: relative;
  justify-self: flex-end;

  &__list {
    writing-mode: vertical-lr;
  }

  &__item {
    user-select: none;
    cursor: default;
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;

    @media only screen and (max-width: 768px) {
      font-size: 48px;
    }

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px $color-blue;

    &:not(:last-child) {
      margin-right: 17px;
    }

    &:nth-child(2n) {
      transform: rotate(180deg);
    }

    &:nth-child(2) {
      opacity: 0.5;
    }

    &:nth-child(3) {
      opacity: 0.2;
    }

    &:nth-child(4) {
      opacity: 0.1;

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    &:nth-child(5) {
      opacity: 0.05;

      @media only screen and (max-width: 1280px) {
        margin: 0;
      }

      @media only screen and (max-width: 920px) {
        display: none;
      }
    }

    &:nth-child(6) {
      opacity: 0.03;
    }

    &:nth-child(7) {
      opacity: 0.02;
    }

    &:nth-child(6),
    &:nth-child(7) {
      @media only screen and (max-width: 1280px) {
        display: none;
      }
    }

    @include hover((opacity), (0.7));

    span {
      font-family: sans-serif;
    }
  }
}
///////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////
/// FEATURES SECTION

.features {
  padding: 160px 0;
  background-color: $color-black;

  @media only screen and (max-width: 1280px) {
    padding: 100px 0;
  }

  @media only screen and (max-width: 1100px) {
    padding: 80px 0;
  }

  @media only screen and (max-width: 600px) {
    padding: 50px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 1100px) {
      padding: 0 32px;
    }
  }

  &__title {
    margin-bottom: 140px;
    margin-right: 196px;
    text-align: right;

    @media only screen and (max-width: 1280px) {
      margin-right: 75px;
    }

    @media only screen and (max-width: 1100px) {
      text-align: left;
      margin-right: 0;
      margin-bottom: 57px;
    }

    @media only screen and (max-width: 600px) {
      margin-bottom: 41px;
    }
  }

  &__device {
    position: relative;
    align-self: center;
  }

  &__device-image {
    transition: all 0.3s;
    position: relative;
    z-index: 10;

    &:hover {
      outline: 2px solid $color-blue;
      outline-offset: 20px;
      border-radius: 50%;
      scale: 1.05;
    }
  }

  &__decorations {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__decoration {
    transition: all 0.2s;
    position: absolute;

    &--1 {
      top: -50px;
      left: -270px;

      @media only screen and (max-width: 1280px) {
        z-index: 10;
      }

      @media only screen and (max-width: 1100px) {
        top: -24px;
        left: 65px;
      }

      @media only screen and (max-width: 600px) {
        top: -11px;
        left: 57px;
      }
    }

    &--2 {
      top: 58.5px;
      right: -17px;

      @media only screen and (max-width: 1100px) {
        z-index: 10;

        top: 273px;
        left: -62px;
      }

      @media only screen and (max-width: 600px) {
        top: 153px;
        left: -19px;
      }
    }

    &--3 {
      bottom: -192px;
      left: 149px;

      @media only screen and (max-width: 1280px) {
        z-index: 10;
        
        left: 168px;
      }

      @media only screen and (max-width: 1100px) {
        top: 145px;
        left: 243px;
      }

      @media only screen and (max-width: 600px) {
        top: 80px;
        left: 132px;
      }
    }

    @media only screen and (max-width: 1100px) {
      cursor: pointer;
    }
  }

  &__specs {
    position: absolute;
    left: 0;
    top: 0;
  }

  &__list {
    position: absolute;
    transition: all 0.5s;

    @media only screen and (max-width: 1100px) {
      opacity: 0;
    }
  }

  &__decoration-opened {
    opacity: 0;

    @media only screen and (max-width: 1100px) {
      opacity: 1;
    }

    position: absolute;
    width: 63px;
    height: 62px;

    z-index: 10;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 2px;
      background-color: #fff;

      @media only screen and (max-width: 600px) {
        width: 10px;
      }
    }

    @media only screen and (max-width: 600px) {
      width: 34px;
      height: 34px;
    }

    background-color: $color-blue-dark;
    border-radius: 50%;
    border: 2px solid rgba($color-white, 0.14);

    &--1 {
      top: -24px;
      left: 65px;

      @media only screen and (max-width: 600px) {
        top: -11px;
        left: 57px;
      }
    }

    &--2 {
      top: 273px;
      left: -62px;

      @media only screen and (max-width: 600px) {
        top: 153px;
        left: -19px;
      }
    }

    &--3 {
      top: 145px;
      left: 243px;

      @media only screen and (max-width: 600px) {
        top: 80px;
        left: 132px;
      }
    }
  }
}

.list-features {
  z-index: 100;

  @media only screen and (max-width: 1100px) {
    padding: 0 10px;
    padding-top: 17px;
    padding-bottom: 22px;
    background-color: $color-purple;
    border-radius: 4px;
  }

  &--1 {
    top: -55px;
    left: -360px;

    @media only screen and (max-width: 1100px) {
      top: 41px;
      left: -51px;
      width: 161px;
    }

    @media only screen and (max-width: 600px) {
      top: 25px;
    }
  }

  &--2 {
    top: 157px;
    left: -360px;

    @media only screen and (max-width: 1280px) {
      left: -253px;
    }

    @media only screen and (max-width: 1100px) {
      top: 200px;
      left: 5px;
      width: 151px;
    }

    @media only screen and (max-width: 600px) {
      top: 150px;
      left: 20px;
    }
  }

  &--3 {
    top: -60px;
    right: -795px;

    li {
      max-width: 344px;
      @media only screen and (max-width: 600px) {
        font-size: 10px;
      }
    }

    @media only screen and (max-width: 1280px) {
      right: -715px;
    }

    @media only screen and (max-width: 1100px) {
      top: 10px;
      left: 150px;
      width: max-content;
    }

    @media only screen and (max-width: 600px) {
      top: -130px;
      left: -50px;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 122%;

    &:not(:last-child) {
      margin-bottom: 21px;
    }

    @media only screen and (max-width: 1100px) {
      display: none;
    }
  }

  &__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color-grey-light;

    @media only screen and (max-width: 1100px) {
      font-size: 12px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////
/// WHY KAT LOCO

.whykatloco {
  padding: 160px 0;
  background-image: linear-gradient(
    108.62deg, 
    #191536 0%,
    $color-black-1 77.34%
  );

  @media only screen and (max-width: 1280px) {
    padding: 100px 0;
  }

  @media only screen and (max-width: 768px) {
    padding: 70px 0;
  }

  @media only screen and (max-width: 320px) {
    padding: 50px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;

    padding: 0 34px;

    @media only screen and (max-width: 320px) {
      padding: 0 21px;
    }
  }

  &__title {
    margin-bottom: 82px;

    @media only screen and (max-width: 768px) {
      text-align: left;
      margin-bottom: 32px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media only screen and (max-width: 768px) {
      justify-content: space-between;
    }

    @media only screen and (max-width: 690px) {
      justify-content: center;
    }
  }

  &__button {
    display: none;
    align-self: center;
    margin-top: 40px;

    @media only screen and (max-width: 1280px) {
      display: block;
    }

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}

.list-whykatloco {
  gap: 50px 200px;

  @media only screen and (max-width: 1280px) {
    gap: 50px 5px;
  }
    
  @media only screen and (max-width: 768px) {
    gap: 50px 20px;
  }

  @media only screen and (max-width: 320px) {
    gap: 20px 20px;
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: 320px) {
      align-items: flex-start;
    }
  }
}

.item-whykatloco {
  @include hover((transform), (scale(1.05)));

  &__icon {
    @media only screen and (max-width: 320px) {
      display: none;
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 18px;

      @media only screen and (max-width: 320px) {
        margin-bottom: 11px;
      }
    }

    &:not(:first-child) {
      margin-top: 34px;

      @media only screen and (max-width: 320px) {
        margin-top: 0;
      }
    }

    @media only screen and (max-width: 768px) {
      font-weight: 900;
      font-size: 16px;
      line-height: 119%;
    }
  }

  &__text {
    max-width: 348px;
    text-align: center;

    @media only screen and (max-width: 768px) {
      text-align: center;
      max-width: 170px;
      max-height: 74px;

      overflow: hidden;
      text-overflow: ellipsis;

      display: -webkit-box;
      -ms-box-orient: vertical;
      -moz-box-orient: vertical;
      -webkit-box-orient: vertical;
      -ms-line-clamp: 3;
      -moz-line-clamp: 3;
      -webkit-line-clamp: 3;

      &::after {
        content: "...";
        display: inline;
      }

      @media only screen and (max-width: 320px) {
        max-width: 277px;
        text-align: start;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////
/// GET IN TOUCH

.getintouch {
  padding-top: 156px;
  padding-bottom: 205px;

  @media only screen and (max-width: 1280px) {
    padding: 100px 0;
  }

  @media only screen and (max-width: 500px) {
    padding: 74px 0;
  }

  background-color: $color-black;

  &__container {
    position: relative;
    display: flex;

    @media only screen and (max-width: 768px) {
      padding: 0 34px;
    }

    @media only screen and (max-width: 500px) {
      padding: 0 20px;

      flex-direction: column;
    }
  }

  &__info {
    flex: 0 0 50%;

    @media only screen and (max-width: 768px) {
      margin-right: 22px;
    }

    @media only screen and (max-width: 500px) {
      flex: 0 0 100%;
      margin: 0;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;

    margin-bottom: 13px;

    @media only screen and (max-width: 768px) {
      margin-bottom: 11px;
    }

    color: $color-blue;
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 26px;
    }

    @media only screen and (max-width: 768px) {
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }

    @media only screen and (max-width: 500px) {
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }

  &__text-info {
    &:not(:last-child) {
      margin-bottom: 76px;
    }

    @media only screen and (max-width: 768px) {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }

    @media only screen and (max-width: 500px) {
      position: absolute;
      bottom: -97px;
      font-size: 12px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media only screen and (max-width: 500px) {
      display: none;
    }
  }

  &__contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: $color-grey-light;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__form {
    flex: 0 0 50%;

    display: flex;
    flex-direction: column;
  }
}

.form-getintouch {
  & > * {
    margin-bottom: 24px;
  }

  &__phone {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  &__label {
    display: flex;
    flex-direction: column-reverse;
  }

  &__span {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $color-grey-light;

    transition: all 0.3s;
  }

  &__message {
    resize: none;
    margin-bottom: 90px;

    @media only screen and (max-width: 768px) {
      margin-bottom: 48px;
    }

    @media only screen and (max-width: 500px) {
      margin-bottom: 30px;
    }

    min-height: 88px;
  }

  &__button {
    align-self: flex-start;
    margin: 0;

    @media only screen and (max-width: 500px) {
      margin-bottom: 30px;
      align-self: stretch;
    }
  }
}

.input {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  transition: border-bottom 0.3s;

  color: $color-white;

  background: transparent;

  border: none;
  border-bottom: 1px solid $color-grey-dark;

  outline: none;
  
  &:not(:placeholder-shown) {
    padding-bottom: 6px;
  }

  &:not(:placeholder-shown) + .form-getintouch__span {
    transform: translateY(-4px);
  }

  &:focus {
    border-bottom: 1px solid $color-blue;

    & + .form-getintouch__span {
      color: $color-blue;
    }
  }

  &:focus:invalid {
    border-bottom: 1px solid $color-brown;

    & + .form-getintouch__span {
      color: $color-brown;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////
/// SCROLL UP BUTTON

.scroll-up-button {
  display: none;
  position: fixed;

  cursor: pointer;

  background: transparent;
  border: none;

  bottom: 150px;
  right: 100px;

  @include hover((filter), (hue-rotate(180deg) brightness(90%) saturate(120%)));

  @media only screen and (max-width: 1110px) {
    right: 30px;
  }

  @media only screen and (max-width: 550px) {
    right: 5px;
  }
}

/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////
/// FOOTER 

.footer {
  background-color: $color-black-1;

  padding-top: 43px;
  padding-bottom: 35px;

  @media only screen and (max-width: 1280px) {
    padding: 39px 0;
  }

  @media only screen and (max-width: 500px) {
    padding-top: 45px;
    padding-bottom: 50px;
  }

  &__contacts {
    display: none;
    flex-direction: column;
    align-items: flex-start;

    grid-area: contacts;

    @media only screen and (max-width: 500px) {
      display: flex;
    }
  }

  &__contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 119%;
    color: $color-grey-light;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    @media only screen and (max-width: 500px) {
      font-weight: 400;
      font-size: 13px;
      line-height: 123%;
    }
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media only screen and (max-width: 1280px) {
      align-items: center;
    }

    @media only screen and (max-width: 768px) {
      padding: 0 34px;
    }

    @media only screen and (max-width: 630px) {
      padding: 0 15px;
    }

    @media only screen and (max-width: 500px) {
      display: grid;
      grid-template-areas: "logo ."
        "navigation contacts"
        "navigation socials";

      align-items: end;
    }
  }

  &__link {
    grid-area: logo;

    @media only screen and (max-width: 500px) {
      margin-bottom: 15px;
    }
  }
}

.navigation-footer {
  grid-area: navigation;

  &__list {
    display: flex;
    justify-content: space-between;

    min-width: 306px;

    @media only screen and (max-width: 630px) {
      min-width: 250px;
    }

    @media only screen and (max-width: 540px) {
      min-width: 210px;
    }

    @media only screen and (max-width: 500px) {
      flex-direction: column;
      min-width: min-content;
    }
  }

  &__item {
    @media only screen and (max-width: 500px) {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;

    color: $color-grey-light-2;
  }
}

.socials-footer {
  grid-area: socials;

  &__link {
    transition: none !important;
    position: relative;
    padding: 5px;

    text-decoration: none !important;

    &:hover .socials-footer__image {
      // filter: invert(100%) 
      // sepia(100%) hue-rotate(180deg) 
      // saturate(10000%) drop-shadow(0 0 0.75rem #05c2df);
      filter: grayscale(100%) 
        contrast(150%) drop-shadow(0 0 1rem #05c2df)
        brightness(150%);
    }

    &:not(:first-child) {
      margin-left: 28px;
    }
    
    &:nth-child(1) {
      padding-top: 15px;

      &:hover {
        filter: grayscale(100%) 
          contrast(150%) 
          drop-shadow(0 0 0.5rem #05c2df) 
          brightness(150%);
      }
    }

    z-index: 10;

    @media only screen and (max-width: 768px) {
      &:not(:first-child) {
        margin-left: 18px;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////
/// ADDITIONAL

::selection {
  background-color: $select-color;
  color: $color-green;
}

#not-link {
  text-decoration: none;
}

////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////
/// FOR SLIDERS

.pic-shown {
  animation: picture-shown 0.9s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.pic-hidden {
  animation: picture-hidden 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes picture-shown {
  0% {
    display: none;
    scale: 0;
  }

  60% {
    display: block;
  }

  80% {
    scale: 1.2;
  }

  100% {
    scale: 1;
  }
}

@keyframes picture-hidden {
  from {
    display: block;
    scale: (1);
  }

  to {
    display: none;
    scale: (0);
  }
}

////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////
/// HEADER VIDEO POPUP

.header-video-popup {
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.3s;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;

  backdrop-filter: brightness(50%);

  &__close-button {
    position: absolute;
    z-index: 300000;

    top: -30px;
    right: -30px;

    @media only screen and (max-width: 600px) {
      top: -30px;
      right: -15px;
    }

    @media only screen and (max-height: 480px) {
      top: 10px;
    }

    @media only screen and (max-height: 420px) {
      top: 20px;
    }

    @media only screen and (max-width: 400px) {
      top: -20px;
      right: 15px;
    }

    width: 17px;
    height: 17px;

    cursor: pointer;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      width: 24px;
      height: 2px;
      background-color: $color-blue;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: background-color 0.3s;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";
      width: 24px;
      height: 2px;
      background-color: $color-blue;
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: background-color 0.3s;
    }

    &:hover::before,
    &:hover::after {
      background-color: $color-white;
    }
  }

  &__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200000;
    width: 87.6%;
    height: 48.6vw;

    @media only screen and (max-height: 420px) {
      height: 100%;
    }

    @media only screen and (max-width: 400px) {
      width: 98%;
      height: 50vh;
    }
  }

  &__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////
/// HEADER MENU ON TARGET TO MENU BURGER

.header-menu {
  position: fixed;
  top: 0;
  left: 0;
  transition: transform  0.3s, backdrop-filter 1s;
  transform: translateX(100%);

  &--active {
    transform: translateX(0);
    backdrop-filter: brightness(50%);
  }

  z-index: 10000;

  height: 100%;
  width: 100%;

  &__wrapper {
    width: 100%;
    max-height: 100%;
    padding-bottom: 205px;
    background-color: $color-purple;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }
    
    &::-webkit-scrollbar-track {
      background-color: #05c2df;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: #999;
      border-radius: 5px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background-color: #666;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}

.header-menu-list {
  &__item {
    display: flex;

    &:first-child {
      margin-top: 97px;

      @media only screen and (max-width: 500px) {
        margin-top: 75px;
      }
    }

    @include hover((background-color), ($color-purple-dark));

    &:hover .header-menu-list__button {
      transition: color 0.3s;
      color: $color-blue;
    }
  }

  &__link {
    flex-basis: 100%;
    font-family: Inter;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    padding: 11px 0;

    padding-left: 155px;

    @media only screen and (max-width: 500px) {
      padding-left: 21px;
    }

    text-decoration: none !important;
  }

  &__button {
    flex-basis: 100%;
    text-align: left;
    padding: 11px 0;
    cursor: pointer;
    font-family: Inter;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    color: $color-white;
    background-color: transparent;
    border: none;
    outline: none;

    padding-left: 155px;

    @media only screen and (max-width: 500px) {
      padding-left: 21px;
    }
  }
}

////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////
/// HEADER LANGUAGE MENU ON MOBILE 

.header-language-menu {
  position: fixed;
  top: 0;
  left: 0;
  transition: transform  0.3s, backdrop-filter 1s;
  transform: translateX(100%);

  &--active {
    transform: translateX(0);
    backdrop-filter: brightness(50%);
  }

  z-index: 10000;

  height: 100%;
  width: 100%;

  &__wrapper {
    width: 100%;
    max-height: 100%;
    padding-bottom: 12px;

    @media only screen and (max-width: 500px) {
      padding-bottom: 8px;
    }

    background-color: $color-purple;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }
    
    &::-webkit-scrollbar-track {
      background-color: #05c2df;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: #999;
      border-radius: 5px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background-color: #666;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}

.list-header-language-menu {
  &__item {
    display: flex;

    &:first-child {
      margin-top: 97px;

      @media only screen and (max-width: 500px) {
        margin-top: 75px;
      }
    }

    @include hover(
      (background-color, color), 
      ($color-purple-dark, $color-blue)
    );

    flex-basis: 100%;
    font-family: Inter;
    font-weight: 500;
    font-size: 21px;
    line-height: 130%;
    padding: 11px 0;

    padding-left: 155px;

    @media only screen and (max-width: 500px) {
      padding-left: 21px;
    }
  }
}

////////////////////////////////////////////////////////////////////
