/* stylelint-disable font-family-no-missing-generic-family-keyword */

%h1 {
  font-weight: 900;
  font-size: 4.6rem;
  line-height: 130%;
}

%h2 {
  font-weight: 900;
  font-size: 3.6rem;
  line-height: auto;
}

%h3 {
  font-weight: 900;
  font-size: 1.6rem;
  line-height: auto;
}

%text-1 {
  font-size: 1.6rem;
  line-height: 150%;
}

%text-2 {
  font-size: 1.4rem;
  line-height: auto;
}

%text-custom {
  font-family: Quantum;
}
