@mixin hover($properties, $values) {
  transition: #{join($properties, "0.3s, ")} 0.3s;
  &:hover {
    @for $i from 1 through length($properties) {
      $property: nth($properties, $i);
      $value: nth($values, $i);
      #{$property}: $value;
    }
  }
}
