$c-gray: #eee;

$color-blue: #05c2df;

$color-black: #05040b;
$color-black-1: #000;

$color-grey-dark: #2f2f2f;
$color-grey-dark-1:  #484848;

$color-grey-light: #929292;
$color-grey-light-1: #ababab;
$color-grey-light-2: #f2f2f2;

$color-brown: #860404;

$color-green: #008000;

$color-white: #fff;

$bg-gradient: linear-gradient(
  100.83deg,
  #191536 0.67%,
  $color-black-1 100%
);

$select-color: #4a4a4a;
